@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --body-bg-color: black;
    --body-foreground-color: white;
    --tile-red-color: rgb(255, 8, 8);
    --tile-blue-color: rgb(16, 16, 248);
    --tile-green-color: rgb(12, 243, 12);
    --tile-yellow-color: rgb(248, 248, 11);
    --flash-color: white;
}

/* custom classes */
/* ------------------------ */
.flex{
    display:flex;
}

/* ------------------------ */

body{
    background-color: var(--body-bg-color);
    color: var(--body-foreground-color);
    text-align: center;
}

.main{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.red, .blue, .green, .yellow{
    width: 12.5rem;
    height: 12.5rem;
    border: 0.5rem solid var(--body-bg-color);
}

.red{
    background-color: var(--tile-red-color);
    border-top-left-radius: 100%;
}

.blue{
    background-color: var(--tile-blue-color);
    border-bottom-left-radius: 100%;
}

.green{
    background-color: var(--tile-green-color);
    border-top-right-radius: 100%;
}

.yellow{
    background-color: var(--tile-yellow-color);
    border-bottom-right-radius: 100%;
}

.row1, .row2{
    display: flex
}

.active{
    background-color: var(--flash-color);
}

.tile:hover{
    box-shadow: inset 0px  0px 0px 5px cyan;
    box-sizing: border-box;
}

.start-btn{
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    bottom: 35%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.hidden{
    display: none;
}

.bright{
    filter: brightness(4.75);
}
